<header class="header d-flex justify-content-between">
  <app-forms></app-forms>
  <div class="header__text-box">
    <div class="header__text--main">Start your truly free 401k check-up now</div>
    <div class="header__text--sub">See how your 401k stacks up in minutes</div>
    <img src="../../../assets/images/pig-plain.png" alt="pig">
  </div>
</header>
<hr>
<section class="disclaimer">
  <div class="heading-3 mb-md">Disclaimer</div>
  <p class="paragraph">Thanks for visiting bloom from an affiliate partner. Bloom is a Registered Investment Advisor with the Securities and Exchange
    Commission. You can find out more information about our service in our
    <a class="paragraph__link" routerLink="/">Brochure</a>, which you can access here or through the SEC. Blooom and our affiliate partners are independent of each
    other and do not have an agency or employment relationship. We do have a marketing arrangement, paying our affiliate
    partners up to $70 if you enter into a payting relationship for advisory services with blooom. No additional fees or
    other amounts will be added to the regular fees, expenses or other costs of your service as a result of the affiliate
    partner's involvement. By clicking any of the above buttons, you acknowledge receipt of this information and the
    <a class="paragraph__link" routerLink="/">Brochure</a>. By signing up, you agree to our
    <a class="paragraph__link" routerLink="/">Terms and Conditions</a> and
    <a class="paragraph__link" routerLink="/">Privacy Policy</a>. You also elect to receive updates, newsletter and offers from blooom, inc</p>
</section>
<hr>
<app-stats></app-stats>
<hr>
<app-clients></app-clients>
<hr>
