@import '~bootstrap/scss/bootstrap';
@import '../../../scss/variables';
.header {
  height: 80rem;
  padding: 6rem 0rem;
  margin-bottom: 8rem;

  &__text-box {
    padding: 4rem 8rem;
    display: inline-block;
  }

  &__text--main {
    font-size: $h1-font-size;
    font-weight: $headings-font-weight;
    text-transform: capitalize;
    line-height: $headings-line-height;
    letter-spacing: 0.3rem;
    margin-bottom: 2rem;
  }

  &__text--sub {
    font-size: $font-size-lg;
    color: $gray-500;
    font-weight: $paragraph-font-weight;
    letter-spacing: 0.1rem;
    margin-bottom: 6rem;
  }

  &__bg {
    width: 100%;
  }

  .forms {
    width: 40%;
    border: 1px solid $gray-200;
    box-shadow: 0 0.1rem 0.5rem $gray-200;
    padding: 4rem;
    display: inline-block;

    &__title {
      margin: 0 auto 4rem auto;
      padding-left: 2.5rem;
    }
  }
}

.disclaimer {
  padding: 4rem 0rem;
  margin: 8rem 0rem;
  letter-spacing: 0.1rem;
  font-size: $font-size-lg;
}
