*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px;

  @include respond(xs) {
    font-size: 43.75%; // width < 360px
  }

  @include respond(sm) {
    font-size: 50%; // width < 576px
  }

  @include respond(md) {
    font-size: 56%; // width < 768px
  }

  @include respond(lg) {
    font-size: 62.5%; // width < 768px
  }

  @include respond(xl) {
    font-size: 75%; //  width < 1800px
  }
}

.main {
  background-color: $gray-100;
}

.container {
  background-color: $white;
  padding: 1rem 4rem;
  max-width: 120rem;
}
