body {
  background-color: $gray-200;
}

// h1 heading
.heading-1 {
  font-size: $h1-font-size;
  font-weight: $headings-font-weight;
  letter-spacing: 0.1rem;

  &--xl {
    font-size: $display1-font-size;
    font-weight: $headings-font-weight;
    letter-spacing: 0.1rem;

    @include respond(sm) {
      font-size: 8rem;
    }
  }
  @include respond(sm) {
    font-size: 4rem;
  }
}

// h2 heading
.heading-2 {
  font-size: $h2-font-size;
  font-weight: $headings-font-weight;
  letter-spacing: 0.1rem;

  @include respond(sm) {
    font-size: 3rem;
  }
}

// h3 heading
.heading-3 {
  font-size: $h3-font-size;
  font-weight: $headings-font-weight;
  letter-spacing: 0.1rem;

  @include respond(sm) {
    font-size: 2.8rem;
    font-weight: 400;
  }
}

.paragraph {
  font-size: $default-font-size;
  font-weight: $paragraph-font-weight;
  line-height: 2;
  color: $gray-300;

  &--lg {
    font-size: $default-font-size-lg;
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: $green-light;
    }
  }
}
