$display5-size: 2rem;
$gray-100: #fbfbfb;
$gray-200: #e5e5e5;
$gray-300: #bfbcbc;
$gray-400: #959595;
$gray-500: #878787;
$green-light: #a6ca5a;
$green-dark: #83b636;
$paragraph-font-weight: 300;
$headings-font-weight: 600;
$font-size-base: 1rem !default;
$h1-font-size: 10rem;
$h2-font-size: 4rem;
$h3-font-size: 3rem;
$font-size-lg: 1.8rem;
$line-height-base: 1.7rem;
